<!DOCTYPE html>
<html lan="pt-BR" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
</head>

<body>
  <%= flash_messages %>
  
  <%= yield %>
  
  <script type="text/javascript" src="/jquery.min.js"></script>
  
</body>
</html>